<div class="container-footer mt-3 bg-light border border-1"
     fxLayout="row wrap"
     fxLayout.lt-md="column"
     fxLayoutAlign="center center"
     fxLayoutGap="10px">
  <div fxFlex="100">
  <div fxLayout="column">
    <div fxFlex="100" fxFlexOffset="10px">
      <ul class=" list-inline social text-center">
        <li class="fb list-inline-item"><a class="icons-group" href="https://www.facebook.com"><i class="fa fa-facebook"></i></a></li>
        <li class="twitter list-inline-item"><a class="icons-group"  href="https://www.twitter.com"><i class="fa fa-twitter"></i></a></li>
        <li class="insta list-inline-item"><a class="icons-group"  href="https://www.instagram.com"><i class="fa fa-instagram"></i></a></li>
        <li class="google list-inline-item"><a class="icons-group"  href="https://www.google.com"><i class="fa fa-google"></i></a></li>
        <li class="linkedin list-inline-item"><a class="icons-group"  href="https://www.linkedin.com" target="_blank"><i class="fa fa-linkedin"></i></a></li>
      </ul>
    </div>
  <div fxFlex="40">
    <div class="col-xs-12 col-sm-12 col-md-12 mt-2  text-center text-dark">
      <p><u><a class="icons-group text-dark" href="https://www.adp.com/">ADP learning</a></u> is a Registered Company</p>
      <p class="h6">© All right Reversed.</p>
    </div>
  </div>
    </div>
    </div>
</div>

