.card {
  box-shadow: 0px 5px 3px 3px rgba(0, 0, 0, .2);
  background-color: #f64c72;
  color: #fff;

}

.card:hover {
  background-color: #5cdb95;
  color: white;
}

.card-2 {
  box-shadow: 0px 5px 3px 3px rgba(0, 0, 0, .2);
  background-color: #fc4445;
  color: white;
}

.card-2:hover {
  background-color: #3fEEe6;
  color: white;


}

.card-1 {
  box-shadow: 0px 5px 3px 3px rgba(0, 0, 0, .2);
  background-color: #5680e9;
  color: white;
}

.card-1:hover {
  background-color: #51b9ea;
  color: white;
}

