.container-fluid{
  height:35rem;
  display:flex;
  justify-content: center;
  align-items:center;
}

/*.ng-invalid {*/
/*  border-left: 2px solid red;*/
/*}*/

.card{
  border: none ;
  border-radius:5%;
  box-shadow: 0 2px 4px 0 rgba(136, 144, 195, 0.2),
  0 5px 15px 0 rgba(37, 44, 97, 0.15);
}
/*.button-group{*/
/*  display: flex;*/
/*  justify-content: center;*/
/*  align-items: center;*/
/*}*/


